* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg2.png");
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}

.top {
  background-image: url("../images/bg.png");
  padding: 1.25em;
}

.top img {
  max-width: 100%;
  height: auto;
}

.main::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 1em;
}

html {
  font-family: "Lucida Sans", sans-serif;
  line-height: 1.625em;
}

header {
  background-color: green;
  padding: 0;
}

.header {
  background-color: green;
  color: #ffffff;
  padding: 1em;
}


/* For mobile phones: */

[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 599) {
  #professional {
    margin-top: 1em;
    padding-bottom: 1.9em;
  }
  .right,
  .aside {
    margin: 1em;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .aside {
    margin: 1.25em 0;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}


/* Responsive menu */


/* Basic styling */

nav {
  background: #060;
  padding: 0 1em;
  height: 3.5em;
}

a {
  color: white;
  text-decoration: none;
}

.fas {
  margin-right: 0.625em;
}

.menu,
.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo img {
  margin-top: -0.75em;
  padding: 0;
  height: 2.8em;
}

.item {
  padding: 0 0.625em;
}

.item.button {
  padding: 0 0.3em;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #0c0;
}


/* Mobile menu */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 1em;
}

.menu li.subitem a {
  padding: 1em;
}

.toggle {
  order: 1;
  font-size: 1.25em;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #040 solid;
}


/* Submenu up from mobile screens */

.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu i {
  font-size: 0.75em;
}

.has-submenu>a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 0.75em;
  line-height: 1em;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 0.3em;
}

.subitem a {
  padding: 0.625em 1em;
}

.submenu-active {
  background-color: #050;
  border-radius: 0.2em;
}


/* Tablet menu */

@media all and (min-width: 600px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 0.625em 1em;
    margin: 0.3em 0;
  }
  .submenu-active {
    background-color: #050;
  }
  .button a {
    background: #00ff80;
    border: 1px green solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #00ff80 solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: green;
    border-color: darkgreen;
  }
}


/* Desktop menu */

@media all and (min-width: 960px) {
  nav {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 3.125em;
    background: #00a300;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}


/* End responsive menu */

.main {
  padding: 1em;
}

.left {
  padding: 1em;
  /*
  background-image: url("../images/bg.png");
  background-repeat: repeat; */
  background-color: white;
}

.photo {
  background-color: white;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 1.25em;
}

.photo img {
  width: 100%;
  height: auto;
  border-top-right-radius: 1.25em;
  border-top-left-radius: 1.25em;
}

.general {
  margin-top: 1.25em;
}

.general ul {
  list-style: none;
  margin: 0 0 0 -1.9em;
}

.general ul li {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 0.25em;
  border-bottom: 1px dotted green;
}

.general ul li ol {
  list-style: none;
  margin: 0 0 0 -1.9em;
  font-size: small;
}

.general ul li ol li {
  border-bottom: none;
}

.general ul li ol li a {
  color: darkgreen;
}

.general ul li ol li a:hover {
  color: white;
}

.content {
  background-color: white;
  padding: 0 1.9em;
  margin-bottom: 1em;
}

article {
  text-align: justify;
}

article header {
  background-color: lightgreen;
  margin-left: -1.9em;
  margin-right: -1.9em;
  padding: 0.125em 1.25em;
}

article h2 {
  margin-top: 3em;
  font-size: 2.5em;
  color: darkgreen;
}

details {
  margin: 1em 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.625em 1em;
}

#contact>.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.625em 1em;
}

.card {
  background-color: white;
  width: 100%;
  border: none;
  border-radius: 0.3em;
  min-height: 13.75em;
  margin: 0.3em 0;
  position: relative;
}

.card-wide {
  background-color: white;
  width: 100%;
  border: none;
  border-radius: 0.3em;
  margin: 0.3em 0;
  /* position: relative; */
}

.card-wide-block {
  display: flex;
}

.card-wide dl {
  display: block;
}

.card-wide-block dt {
  padding: 1.25em 0;
}

#image {
  border: solid darkgreen;
  border-radius: 50%;
  text-align: center;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

#card-img {
  border: solid green;
  border-radius: 50%;
  background-color: lightcyan;
  text-align: center;
  width: 80%;
  margin-bottom: 1em;
}

#img-div {
  text-align: center
}

figure {
  margin: 0em;
  padding: 0em;
}

.card-title {
  background-color: hsl(120, 75%, 75%);
  padding: 0.625em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.card-footer {
  background-color: hsl(120, 75%, 75%);
  padding: 0.625em;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-block {
  background-image: url("../images/bg.png");
  padding: 0.3em;
  min-height: 7.5em;
}

#websites .card-block,
#professional .card-block {
  background-image: url("../images/bg4.png");
  color: white;
  font-size: small;
  padding: 0.3em;
  min-height: 7.5em;
}

#websites .card-block a {
  text-decoration: none;
  color: white;
}

#professional {
  margin-top: -1em;
  padding-bottom: 1.9em;
}

#cis ul,
#cis2 ul,
#agaseke ul,
#cls ul {
  list-style: none;
  margin: 0 0 0 -1.9em;
}

#cis ul li div ul,
#cis2 ul li div ul,
#agaseke ul li div ul,
#cls ul li div ul {
  list-style-type: square;
  margin: 0;
}

dt {
  font-style: italic;
  font-weight: 600;
}

.aside {
  background-image: url("../images/bg.png");
  background-repeat: repeat;
  margin-top: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

footer {
  background-image: url("../images/bg4.png");
  background-repeat: repeat;
  color: white;
  text-align: center;
}